<app-listado-generico [listado]="peliculas">
    <ng-container contenido>
        <div ngClass="peliculas-contenedor">
            <div *ngFor="let pelicula of peliculas; let index = index" ngClass="pelicula-contenedor">
                <a>
                    <img [src]="pelicula?.poster" alt="">
                </a>
                <p>
                    <a>{{pelicula.titulo}}</a>
                </p>
                <div>
                    <button mat-flat-button color="primary">Editar</button>
                    <button mat-flat-button color="warn" type="button">Eliminar</button>
                </div>
            </div>
        </div>
    </ng-container>
</app-listado-generico>